@font-face {
    font-family: 'AntonioRegular';
        src: url('/fonts/antonio-regular-webfont.eot');
        src: url('/fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('/fonts/antonio-regular-webfont.woff') format('woff'),
             url('/fonts/antonio-regular-webfont.ttf') format('truetype'),
             url('/fonts/antonio-regular-webfont.svg#AntonioRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

