section {
  padding: 60px 0; }
  section h1 {
    font-weight: 700;
    margin-bottom: 10px; }
  section p, ul, li {
    margin-bottom: 10px; }
    section p:last-child {
      margin-bottom: 0; }
  section date {
    font-style: italic; }

section:nth-of-type(1n) {
  background-color: #fefefe; }

section:nth-of-type(2n+2) {
    background-color: #f7f7f7; }
section:nth-of-type(2n+3) {
    background-color: #fefefe; }

