html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

th, td {
  padding: 15px;
  text-align: right;
  border: 1px solid #ddd; }
  
  th:nth-child(1),
  td:nth-child(1) {
     text-align: left;
     width:275px; }
  
tr:hover {
    background-color: #f3f3f3; }
    
#preloadedImages {
    background-image: url(/images/ban_3b.png);
    /*image: url(/images/ltmsha_logo1.png);
    image: url(/images/ltmsha_logo2.png);
    image: url(/images/haut.png);
    image: url(/images/bas.png);*/ }


  
body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal; }

ol, ul {
  list-style: disc;
  padding : 10px 20px 30px 20px; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; 
  table-layout:fixed;
     margin: 25px 0 30px 0;
    overflow: auto;
}
  

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    font-weight: bold;
    cursor: default; }

a img {
  border: none; }

/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fefefe;
  color: #4c4c4c;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
    
}
.firstcharacter {
  color: #4c4c4c;
  float: left;
  font-family: AntonioRegular;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 300;
  font-family: "AntonioRegular", Times, serif;
}

a {
  text-decoration: none;
  color: #4c4c4c; }

a:hover {
  color: #6b6b6b; }

 
/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fefefe;
  padding-top: 150px; }

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px; }



td.haut {
  vertical-align: top;
  padding: 10px; }



/* =Info Bar
-------------------------------------------------------------- */
#info-bar {
  background-color: #37cc5c;
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%; }
  #info-bar p,
  #info-bar a {
    color: #fefefe;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px; 
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #info-bar a:hover {
      background-color: #23893d; }
  #info-bar span.left,
  #info-bar span.right {
    display: block;
    width: 50%; }
  #info-bar span.left {
    float: left;
    text-align: left; }
  #info-bar span.right {
    float: right;
    text-align: right; }

/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #37cc5c;
  background-image: url(/images/ban_3b.png);
  background-repeat: no-repeat;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  -webkit-box-shadow: 0px -10px 4px 11px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px -10px 4px 11px rgba(0,0,0,0.49);
  box-shadow: 0px -10px 4px 11px rgba(0,0,0,0.49); }


  
  header h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: #4c4f52;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  
  header img#logo {
    display: inline-block;
    height: 100px;
    line-height: 150px;
    float: left;
    margin-top: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    
  header nav {
    display: inline-block;
    float: right; }

    header nav a {
      line-height: 150px;
      margin-left: 20px;
      color: #88e9a2;
      font-weight: 700;
      font-size: 18px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      header nav a:hover {
        color: #fefefe; }
  
header.smaller {
    height: 75px; }
    header.smaller h1#logo {
      width: 150px;
      height: 75px;
      line-height: 75px;
      font-size: 30px; }
    header.smaller img#logo {
      margin-top: 5px;
      height: 87px;
      line-height: 87px; }
    header.smaller nav a {
      line-height: 75px; }


/* =Haut/bas
-------------------------------------------------------------- */
haut-bas {
  position: fixed;
  float: left;
  margin-top: 200px; }
haut-bas img {
  opacity: 0.1;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out; }
haut-bas img:hover {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out; }


/* =Footer
-------------------------------------------------------------- */
.footer-distributed{
	background-color: #2d2d2d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: x-large ;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #6b6b6b;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #3e3e3e;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1d1d1d;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #4c4c4c;
}

.footer-distributed ::-moz-placeholder {
	color:  #4c4c4c;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #4c4c4c;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #3e3e3e;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	margin-left: 10px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}


/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
  /* =Header
  -------------------------------------------------------------- */
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px; }
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px; }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto; }
    header nav a {
      line-height: 50px;
      margin: 0 10px; }
  header.smaller {
    height: 75px; }
  

  
    header.smaller h1#logo {
      height: 40px;
      line-height: 40px;
      font-size: 30px; }
    header.smaller img#logo {
      height: 50px;
      line-height: 40px; }
    header.smaller nav {
      height: 35px; }
      header.smaller nav a {
        line-height: 35px; } }



@media all and (max-width: 600px) {
  .container {
    width: 100%; }

  #info-bar a {
    display: block; }
  #info-bar span.right,
  #info-bar span.left {
    width: 100%; }
  #info-bar span.right,
  #info-bar span.left {
    float: none;
    text-align: center; }
  #info-bar span.right {
border-bottom: solid 1px #37cc5c; } } 
