@font-face {
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue Regular'), url('../fonts/BebasNeue Regular.woff') format('woff');
}

@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.woff") format('woff');
    font-weight: normal;    /* font-weight of 400; */
}

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/Montserrat-Light.woff") format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.woff") format('woff');
    font-weight: 600;
}


/* --------------------------------------------------------------------- */

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

body
{
    margin: 0;
	padding: 0;
    background-color: #fefefe;
    color: #212121;
	font-size: 14px ;
    font-family: "montserrat-light", serif;
}

h1,h2,h3,h4
{
	margin: 0 0 .5em;
	color: #212121;
    font-family: "Bebas Neue Regular", sans-serif;
}

h5 {
    font-family: "montserrat-semibold", sans-serif;
    margin: 0;
}

span {
   font-size: 0.9em;
   color: #a4a4a4;
}

h1 { font-size: 2.571em; text-decoration: none } /* 36px */
h1 a { text-decoration: none }
h2 { font-size: 2em; text-decoration: none } /* 28px */
h2 a { text-decoration: none }
h3 { font-size: 1.571em; text-decoration: none } /* 22px */
h3 a { text-decoration: none }
h4 { font-size: 1.285em; text-decoration: none } /* 18px */
h4 a { text-decoration: none }
h5 { font-size: 1em; text-decoration: none } /* 14px */
h5 a { text-decoration: none }

p {
	margin: 0 0 1.5em;
	line-height: 1.5;
}

a {
  color: #212121;
}

a:hover {
  color: #6b6b6b;
}


ul {
  list-style: disc;
  margin: 0 0 1.5em;
}

ol {
  margin: 0 0 1.5em;
}

li {
    line-height: 1.5;
    margin: 0.5em 0;
}

.img-responsive {
    max-width: 100%;
}



.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

blockquote
{
	padding: 1em 2em;
	margin: 1.5em 0;
	border-left: 5px solid #eee;
}

hr {
	height: 0;
	margin: 2em 0;
	border: 0;
	border-top: 1px solid #ddd;
}



/* Tables */

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

table.sortable, table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.5em 0;
  width: 100%;
  table-layout:fixed;
  overflow: scroll;
  border: 1px solid #ddd;
}

table.sortable {
    table-layout: auto;
}

table.sortable th, table.sortable td, th, td {
  padding: 15px;
  text-align: right;
  border: 1px solid #ddd;
}

th {
    font-weight: bold;
}
  
table.sortable th:first-child, th:first-child,
table.sortable td:first-child, td:first-child {
     text-align: left;
 }
 
table.sortable tr:hover, tr:hover {
    background-color: #fafafa;
}

table.sortable th {
    cursor: default;
    font-weight: bold;
    background-color: #fafafa;
}

.transp, .transp th, .transp td, .transp tr:hover {
    border: 0;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    margin: 0 0 1.5em;
    background-color: transparent;
}

.transp td:first-child {
    padding: 0 1.5em 1.5em 0;
}


.transp td:last-child {
    padding: 0 0 1.5em 1.5em;
}


/*  */

.float-left {
    float: left;
}

.float-right {
    float: right;
}



/* =Formulaire 
 --------------------------------------------------------*/

form input[type=text],
form select,
form textarea{
	display: block;
	border-radius: 3px;
    border: 1px solid #ddd;
	resize: none;
	margin-bottom: 20px;

	font: inherit;
	font-size: 14px;
	font-weight: normal;


	width: 100%;
    padding: 5px;
}
form input[type=radio], form input[type=checkbox] {
    margin: 0 5px 20px 20px;
    border: 1px solid #ddd;
}



form textarea {
	height: 100px;
}

form button {
	border-radius: 3px;
	background-color:  #2a2a2a;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	margin-right: 10px;
        margin-bottom: 10px;
	font-weight: bold;
	float: left;
}
form button:hover {
	color: #fdd835;
}


/* Sections
------------------------------------------------------------ */

.container {
	max-width: 80%;
	margin: 0 auto;
}


.content {
	overflow: hidden;
	padding: 1em 1.25em;
	background-color: #fff;
}

.main, .right {
    margin-bottom: 1em;
    padding-top: 130px;
}


.right {
    
 border-width:5px 0 0 0;
 border-style:dotted;
 border-color:#ddd;
 padding-top: 2em;
 }

.main-alt {
    margin-bottom: 1em;
    padding-top: 130px;
}

/* =Footer
-------------------------------------------------------------- */
.footer {
	background-color: #212121;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	margin-top: 50px;
	overflow: hidden;
        padding: 2em 0;
}

.footer .container
{
	max-width: 90%;
	margin: 20px auto;
}


.footer .footer-left{
	float: left;
}

/* Footer logo */

.footer h3{
	color:  #ffffff;
	font-size: x-large ;
	margin: 0 0 10px;
}

.footer h3 span{
	color:  #757575;
}

/* Footer links */

.footer .footer-links {
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer .footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-name {
	color:  #6b6b6b;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-icons {
	margin-top: 40px;
}

.footer .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #2a2a2a;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* =Footer right */

.footer .footer-right {
	float: right;
}

.footer .footer-right p {
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* =Contact */

.footer form {
	display: inline-block;
}

.footer form input,
.footer form textarea {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1d1d1d;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer ::-webkit-input-placeholder {
	color:  #4c4c4c;
}

.footer ::-moz-placeholder {
	color:  #4c4c4c;
	opacity: 1;
}

.footer :-ms-input-placeholder {
	color:  #4c4c4c;
}


.footer form input {
	height: 55px;
	margin-bottom: 15px;
}

.footer form textarea {
	height: 100px;
	margin-bottom: 20px;
}

.footer form button {
	border-radius: 3px;
	background-color:  #2a2a2a;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	margin-left: 10px;
        margin-bottom: 10px;
	font-weight: bold;
	float: right;
}
.footer form button:hover {
	color: #fdd835;
}

/* =Haut/bas
-------------------------------------------------------------- */
.up-down {
  position: fixed;
  top: 140px;
  left: 2%;
  z-index: 9999;
}

.up-down img {
  opacity: 0.2;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.up-down img:hover {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out; }



/* =Header + Navbar
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 100px;
  overflow: visible;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #00c853;
  /*background-image: url(../assets/fillet_.png);
  background-repeat: no-repeat;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
/*-webkit-box-shadow: 0px -10px 4px 11px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px -10px 4px 11px rgba(0,0,0,0.49);
  box-shadow: 0px -10px 4px 11px rgba(0,0,0,0.49);
 box-shadow: inset  0 -3px 5px 0px  rgba(0,0,0,0.05);
 */
}

header .container {
	max-width: 90%;
	margin: 0 auto;
}
  
  header h1#logo {
    display: inline-block;
    height: 150px;
    float: left;
    font-family: "Bebas Neue Regular", sans-serif;
    font-size: 60px;
    color: #4c4f52;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
  
  header img#logo {
    float: left;
    position: absolute;
    margin-top: -10px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
    
  header nav {
    display: inline-block;
    float: right;
}

    header nav a {
		text-decoration: none;
		line-height: 100px;
		padding: 12px;
		color: #fff;
		font-size: 1.142em;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out; 
		}
		header nav a:hover {
			color: #212121;
			/*background-color: #5efc82; */
			/*box-shadow: inset  0 -100px 0px 0px  #212121;*/
			}

/* Plus bas */
  
header.smaller {
    height: 50px;
}

    header.smaller h1#logo {
      width: 150px;
      height: 75px;
      line-height: 75px;
      font-size: 30px;
 }
 
    header.smaller img#logo {
  /*margin-top: -3px;*/
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s ;
  transition: opacity 0.3s, visibility 0.3s;
    }

    header.smaller nav a {
      line-height: 50px;
       padding: 12px;
    }
    



/*  =Timeline
-------------------------------------------------------- */

.timeline .column {
    margin-bottom: 50px;
}

.timeline .column .title h1{
    font-size: 92px;
    color: rgba(33,33,33,0.1);
    margin-bottom: 30px;
    text-align: left;
}

.timeline .column .title h2 {
	margin-top: -80px;
}

.timeline .column .description p {
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
}

.timeline .column .description ul {
	font-size: 16px;
	line-height: 20px;
	left: 10%;
	margin-top: 0;
        margine-bottom: 0;
}


.timeline .column .description {
}

#album {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #ffffff;
    font-size: 14px ;
    font-family: "montserrat-light", serif;
}

.album {
	background-color: #212121;
	width: 100%;
	text-align: left;
	overflow: hidden;
        padding: 2em 2em;
}

.album h1,
.album h2,
.album h3,
.album h4,
.album h5 {
	color: #ffffff
}

.album a {
  color: #ffffff;
}

.album a:hover {
  color: #6b6b6b;
}


/* =Mise en page normal
---------------------------------------------------*/

@media (min-width: 60em) {


	.main {
		float: left;
		width: 65%;
		margin-right: 5%;
		margin-bottom: 1em;
	}

	.right {
		float: left;
		width: 30%;
		margin-bottom: 1em;
                padding-top: 130px;
	}
	
	.right h3 {
               margin-bottom: 20px;
    }



}

/* --- Post and page headers --- */

.intro-header {
  margin: 80px 0 20px;
  position: relative;
}
.intro-header.big-img {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 51px; /* The small navbar is 50px tall + 1px border */
  margin-bottom: 35px;
}
.intro-header.big-img  .big-img-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.intro-header .page-heading {
  text-align: center;
}
.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
  padding: 100px 0;
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 35px;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
.intro-header .post-heading .post-subheading {
  margin-bottom: 20px;
}
.intro-header.big-img .page-heading .page-subheading,
.intro-header.big-img .post-heading .post-subheading {
  font-weight: 400;
}
.intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}
.intro-header.big-img .post-heading .post-meta {
  color: #EEE;
}
.intro-header.big-img .img-desc {
  background: rgba(30, 30, 30, 0.6);
  position: absolute;
  padding: 5px 10px;
  font-size: 11px;
  color: #EEE;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  right: 0;
  bottom: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header.big-img {
    margin-top: 91px;  /* Full navbar is small navbar + 20px padding on each side when expanded */
  }	
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading  {
    padding: 150px 0;
  }  
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
  .intro-header .post-heading h1 {
    font-size: 50px;
  }
  .intro-header.big-img .img-desc {
    font-size: 14px;
  }
}


/* =Header Petit 
 --------------------------------------------------------*/
@media screen and (max-width: 60em) {
   header nav a:not(:first-child) {display: none;
}

}
