---
layout: default
---
{% include date.html date=page.date %}


		<div class="content">
			<div class="container">
				<div class="main-alt">
					<h1>Saisons</h1>
					<hr>
<h2>Saison 2017</h2>
{% for post in site.classement %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2017" %}
{{ post.content }}
  {% endif %}
{% endfor %}
					<p><large>Sommaire des matchs</large></p>
{% for post in site.partie reversed %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2017" %}
<h5>{{ post.date | date: "%e %B %Y" }} au {{ post.lieu }}</h5>
{{ post.content }}
  {% endif %}
{% endfor %}
					
					<hr>
					<h2>Saison 2016</h2>
{% for post in site.classement %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2016" %}
{{ post.content }}
  {% endif %}
{% endfor %}
					<h5>Sommaire des matchs</h5>

{% for post in site.partie reversed %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2016" %}
<h5>{{ post.date | date: "%e %B %Y" }} au {{ post.lieu }}</h5>
{{ post.content }}
  {% endif %}
{% endfor %}
					
					<hr>
					
					<h2>Saison 2015</h2>
{% for post in site.classement %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2015" %}
{{ post.content }}
  {% endif %}
{% endfor %}
					<h5>Sommaire des matchs</h5>

{% for post in site.partie reversed %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2015" %}
<h5>{{ post.date | date: "%e %B %Y" }} au {{ post.lieu }}</h5>
{{ post.content }}
  {% endif %}
{% endfor %}
					
				</div>


			</div>
		</div>
		
