<header>
			<div class="container">
        
            <!--<a href="">LTMSHA</a>-->
            <a href="/"><img id="logo" src="/assets/balle_logo1.png" onMouseOver="this.src='/assets/balle_logo2.png'" onMouseOut="this.src='/assets/balle_logo1.png'"/></a>
        

        <nav>
            <a href="/">Accueil</a>
            <a href="/propos.html">À propos</a>
            <a href="joueurs.html">Joueurs</a>
            <a href="saisons.html">Saisons</a>
            <a href="faits.html">Faits marquants</a>
            <a href="trophees.html">Trophées</a>
            <a href="#Bas"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
 
        </nav>
        </div>
</header>
