<div id="wrapper">

<header>
    <div class="container clearfix">
        <h1 id="logo">
            <!--<a href="">LTMSHA</a>-->
            <a href="/"><img id="logo" src="/images/ltmsha_logo1.png" onMouseOver="this.src='/images/ltmsha_logo2.png'" onMouseOut="this.src='/images/ltmsha_logo1.png'"/></a>
        </h1>

        <nav>
            <a href="/qui.html">À propos</a>
            <a href="/saisons.html">Saisons</a>
            <a href="/joueurs.html">Joueurs</a>
            <a href="/faits.html">Faits marquants</a>
            <a href="">Trophées</a>
            <a href="/contact.html">Contacter</a>
 
        </nav>
    </div>
</header><!-- /header -->
