<!DOCTYPE html>
<html lang="fr">


{% include head.html %}

{% include header.html %}

{% include haut-bas.html %}

<div id="main">
<div id="content">


{% for post in site.posts %}


      {% unless post.category == "classements"%}
<section>
<div class="container">
    <p><h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <date><small>{{ post.date | date: "%e %B %Y" }}</small></date></p>
    <p>{{ post.content }}</p>
                </div>
        </section>
        {% endunless %}
{% endfor %}

    </div>
</div><!-- #main -->


{% include footer.html %}

{% include foot.html %}
