
{% include head.html %}

{% include header.html %}

{% include haut-bas.html %}

<div id="main">
<div id="content">
<section>
<div class="container">
<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            </div>
        </section>
    </div>
</div><!-- #main -->

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>



{% include footer.html %}

{% include foot.html %}
